.Container {
    width: 200px;
    margin: auto;
    margin-top:200px;
}
.Title {
    display: inline-block;
    font-size: 60px;
}

.OtherText {
    display: inline-block;
    font-size: x-large;
    opacity: 0;
}

.FadeIn {
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}